<div class="container">
  <div class="row">
        <div class="col-md-6">
        <h2>Places you want to search</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input #searchbox id="searchbox" type="text" class="form-control"   placeholder="Restaurants in Koramangala">
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" (click)="searchPlaces(searchbox.value)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div><!--end of input group-->
            </div><!--end of custom search input-->
        </div>
    </div><!--end of row-->

    <div class="container">
            <div *ngFor='let place of places.results' class="place row">
              <div class="row well" id="result">
              <div class="col-sm-6">
                 <img src="{{Url}}{{place.photos[0].photo_reference}}{{apikey}}">
              </div>
          
              <div class="col-sm-6">
                 <p><img src= "{{place.icon}}" /></p>
                 <p>Name: {{place.name}}</p>
                 <p>Rating: {{place.rating}}</p>
                 <p>Details: {{place.formatted_address}}</p>
                 <!--<p>Opening Hours:{{place.opening_hours}}</p>-->
              </div> 
            </div><!--end row well-->   
            </div><!--end of place row-->
    </div><!--end of image row container-->

</div><!--end of container-->
                    
                   