
<nav class = "navbar navbar-default" role = "navigation">
   
   <div class = "navbar-header">
      <a class = "navbar-brand" href = "#">GoPlaces</a>
   </div>
   
   <div>
      <ul class = "nav navbar-nav">
         <li class = "active"><a href = "#">Home</a></li>
         <li><a href = "#">Bookmark</a></li>
     
         <li class = "dropdown navbar-right">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
               My Account
               <b class = "caret"></b>
            </a>
           
            <ul class = "dropdown-menu">
               <li><a href = "#">jmeter</a></li>
               <li><a href = "#">EJB</a></li>
               <li><a href = "#">Jasper Report</a></li>
               
               <li class = "divider"></li>
               <li><a href = "#">Separated link</a></li>
               
               <li class = "divider"></li>
               <li><a href = "#">One more separated link</a></li>
            </ul>
           
         </li>
     
      </ul>
   </div>
   
</nav>

<place-search></place-search>

